{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text | linebreaksbr }}</p>
    </div>
    <hr>

    {% for comment in comments %}
    <div data-gb-custom-block data-tag="for-comment"></div>

    <div data-gb-custom-block data-tag="if-comment">
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
            </div>

            <div data-gb-custom-block data-tag="if-comment-actions">
                <a class="btn btn-default" href="{% url 'comment_remove' %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' %}"><span class="glyphicon glyphicon-ok"></span></a>
            </div>

            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    </div>

    <div data-gb-custom-block data-tag="empty-comment">
        <p>No comments here yet :(</p>
    </div>
    {% endfor %}

    <hr>

    {% if user.is_authenticated %}
    <div data-gb-custom-block data-tag="for-authenticated"></div>

    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>

    <div data-gb-custom-block data-tag="empty-authenticated">
        <p>No comments here yet :(</p>
    </div>

    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% endif %}

{% endblock %}
